/* //////////////////////
  Form Style
  /////////////////////// */

/*Main container*/
#formCont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2em;
}
.text{
    background-color: var(--clr-primary-200);
    padding: 1.5em;
}
.Mainform{
    background-color: var(--clr-primary-100);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    &__data{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5em;
        label{
            text-wrap-mode: nowrap;
        }
        input{
            width:100%;
        }
    }
    &__button{
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        justify-content: center;
    }
}
.division{
    background-color: var(--clr-neutral-100);
    height:0em;
}
@media screen and (max-width: 800px) {
    #formCont{
        display: flex;
        flex-direction: column;
    }
}